<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to the Atlantic Institute Test!</title>
</head>

<style>
.field {
	padding-bottom: 15px;
}
</style>

<body>
	<h1>Welcome to the Atlantic Institute Test!</h1>
	<h3>Here, you will be able to manage the users of the application.</h3>

	<form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
		<div class="field">
			<div>Name</div>
			<input type="text" th:field="*{name}" />
		</div>
		<div class="field">
			<div>Username</div>
			<input type="text" th:field="*{username}" />
		</div>
		<div class="field">
			<div>Password</div>
			<input type="password" th:field="*{password}" />
		</div>
		<div class="field">
			<div>Email</div>
			<input type="text" th:field="*{email}" />
		</div>
		<div class="field">
			<div>Admin</div>
			<input type="checkbox" th:field="*{admin}" />
		</div>

		<input type="submit" value="Confirm" />
	</form>

	<h1>User List</h1>
	<div th:each="user : ${userList}">
		<h4 th:inline="text">[[${user.name}]]</h4>
		<ul>
			<li th:inline="text"><strong>Username: </strong>[[${user.username}]]</li>
			<li th:inline="text"><strong>Password: </strong>[[${user.password}]]</li>
			<li th:inline="text"><strong>Created Date: </strong>[[${user.createdDate}]]</li>
			<li th:inline="text"><strong>Updated Date: </strong>[[${user.updatedDate}]]</li>
			<li th:inline="text"><strong>E-Mail: </strong>[[${user.email}]]</li>
			<li th:inline="text"><strong>Is Admin: </strong>[[${user.admin}]]</li>
			<li th:inline="text"><input type="button" value="Update" /></li>
		</ul>
	</div>
</body>

</html>